server {
    listen 80;
    listen [::]:80;

    #listen 443 ssl;
    #listen [::]:443 ssl;

    # Note: You should disable gzip for SSL traffic.
    # See: https://bugs.debian.org/773332
    #
    # Read up on ssl_ciphers to ensure a secure configuration.
    # See: https://bugs.debian.org/765782

    #ssl_certificate /etc/letsencrypt/live/pptools.tangledhelix.com/fullchain.pem;
    #ssl_certificate_key /etc/letsencrypt/live/pptools.tangledhelix.com/privkey.pem;

    #root /var/www/html;

    #index index.html index.htm index.nginx-debian.html;

    server_name pptools.tangledhelix.com;

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static {
        alias /opt/pptools/wsgi/static;
    }

    location / {
        include         uwsgi_params;
        uwsgi_pass      unix:/tmp/pptools.sock;
    }

}
